* Dados los nuevos datos, podemos inicializar adecuadamente conociendo la población masculina y femenina en varios rangos de edad. Anteriormente, inicializábamos la edad con un entero aleatorio estre 1 y 100.
* **Plot de pirámide poblacional**

## CARGA DE LIBRERIAS

In [21]:
# Importing libraries
import numpy as np
import pandas as pd
import random
from functools import reduce
import pandas as pd
import plotly.graph_objects as go

In [2]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

## CARGA DE DATOS Y FILTRADO:
Filtrar datos:
* Población masculina por municipio y año.
* Población femenina  por municipio y año.
* Población por rangos de edad (datos para 2003, 2010 y 2021).

In [3]:
path = '/content/drive/MyDrive/TFM/nuevosdatos'
df_excel_01b  = pd.read_excel(path+'/EXCEL_01B.xlsx')
df_excel_04  = pd.read_excel(path+'/EXCEL_04.xlsx')

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

#### excel_01b

In [6]:
# Select columns to identify each population centre
cols_identifier = df_excel_01b.columns[:2]

In [7]:
# Select columns for male and female population
cols_men = df_excel_01b.columns[pd.Series(df_excel_01b.columns).str.startswith("HOM")]
cols_women = df_excel_01b.columns[pd.Series(df_excel_01b.columns).str.startswith("MUJ")]

In [8]:
# Select sub-dataframe for male and female population
df_men_women = df_excel_01b[[*cols_identifier, *cols_men, *cols_women]]

#### excel_04

In [10]:
# Select columns for age interval
cols_ages = [col for col in df_excel_04.columns if "_" in col]

In [11]:
# Select subdataframe with CODMUN to identify each population centre
df_ages = df_excel_04[[*["CODMUN"], *cols_ages]]

## SELECCIÓN DE DATOS PARA 2010

In [12]:
# Filter male and female population in 2010
df_men_women_2010 = df_men_women.filter(regex = "^.*?2010$|CODMUN|NOMBRE", axis = 1)

In [13]:
# Filter age intervals for year 2010
df_ages_2010 = df_ages.filter(regex = "M.*?10$|H.*?10$|CODMUN$", axis = 1)

In [14]:
# Merge both dataframes
df_2010 = reduce(lambda left,right: pd.merge(left,right,on='CODMUN'), [df_men_women_2010, df_ages_2010])

In [15]:
### WE DO NOT REALLY NEED THIS
# Add column for total population
#df_2010["POB2010"] = df_2010["HOM2010"] + df_2010["MUJ2010"]
# Add column for % of men
#df_2010["HOM%"] = df_2010["HOM2010"] / df_2010["POB2010"] 
# Add column for % of women
#df_2010["MUJ%"] = df_2010["MUJ2010"] / df_2010["POB2010"]

In [17]:
#my_population = df_2010[df_2010["CODMUN"] == 39085]
my_population = df_2010

### POBLACIÓN MASCULINA:

In [19]:
cols = [x for x in my_population.columns if ((x[0] == "H") and ("_" in x))]
temp  = my_population.filter(regex = "^H|CODMUN|NOMBRE", axis = 1).\
              drop(["HOM2010"], axis = 1).\
              set_index(["CODMUN", "NOMBRE"])
#temp

,,H0A4_10,H5A9_10,H10A14_10,H15A19_10,H20A24_10,H25A29_10,H30A34_10,H35A39_10,H40A44_10,H45A49_10,...,H55A59_10,H60A64_10,H65A69_10,H70A74_10,H75A79_10,H80A84_10,H85A89_10,H90A94_10,H95A99_10,H100MS_10
CODMUN,NOMBRE,,,,,,,,,,,,,,,,,,,,,
1051,Agurain/Salvatierra,163.0,104.0,82.0,122.0,141.0,169.0,279.0,235.0,227.0,200.0,...,157.0,136.0,73.0,67.0,71.0,32.0,23.0,5.0,1.0,0.0
1001,Alegría-Dulantzi,118.0,104.0,53.0,48.0,46.0,80.0,172.0,204.0,148.0,119.0,...,71.0,37.0,49.0,31.0,22.0,14.0,5.0,1.0,0.0,0.0
1002,Amurrio,236.0,192.0,205.0,221.0,294.0,379.0,444.0,346.0,409.0,418.0,...,395.0,328.0,245.0,166.0,183.0,120.0,47.0,17.0,2.0,0.0
1049,Añana,3.0,1.0,4.0,2.0,1.0,2.0,5.0,10.0,8.0,11.0,...,9.0,5.0,4.0,6.0,3.0,3.0,4.0,2.0,1.0,0.0
1003,Aramaio,43.0,42.0,41.0,29.0,35.0,35.0,48.0,65.0,60.0,72.0,...,57.0,48.0,32.0,45.0,29.0,26.0,7.0,5.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50282,"Vilueña, La",2.0,0.0,1.0,0.0,4.0,3.0,5.0,5.0,5.0,2.0,...,5.0,6.0,1.0,2.0,3.0,5.0,4.0,0.0,0.0,0.0
50295,Vistabella,0.0,0.0,0.0,1.0,1.0,5.0,0.0,0.0,0.0,5.0,...,4.0,6.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0
50296,"Zaida, La",8.0,12.0,8.0,12.0,15.0,17.0,15.0,9.0,16.0,20.0,...,17.0,17.0,12.0,19.0,11.0,10.0,5.0,0.0,0.0,0.0
50297,Zaragoza,17327.0,15840.0,14863.0,15539.0,19046.0,24221.0,30074.0,29445.0,26994.0,25176.0,...,19069.0,18101.0,15031.0,11094.0,11112.0,7373.0,3875.0,1046.0,248.0,19.0
50298,Zuera,194.0,188.0,197.0,179.0,236.0,299.0,393.0,365.0,305.0,309.0,...,204.0,170.0,166.0,113.0,131.0,97.0,49.0,11.0,5.0,0.0

In [20]:
col_new_m = []
for col in temp.columns:
  if "MS" in col:
    col_temp = col.split("_")[0]
    #print("Hombres con mas de  " + str(col_temp[1:4]) + " : " + str(temp.loc[39085][col]))
    col_new_m.append(">" + str(col_temp[1:4]))
  else: 
    col_temp = col.split("_")[0].split("H")[1].split("A")
    age_init = col_temp[0]
    age_end  = col_temp[1]
    #print("Hombres entre " + str(age_init) + " y " + str(age_end) +" : " + str(temp.loc[39085][col]))
    col_new_m.append(str(age_init)+"-"+str(age_end))

## POBLACION FEMENINA:

In [22]:
cols = [x for x in my_population.columns if ((x[0] == "M") and ("_" in x))]
temp_f  = my_population.filter(regex = "^M|CODMUN", axis = 1).\
              drop(["MUJ2010"], axis = 1).\
              set_index(["CODMUN"])
#temp_f

,M0A4_10,M5A9_10,M10A14_10,M15A19_10,M20A24_10,M25A29_10,M30A34_10,M35A39_10,M40A44_10,M45A49_10,...,M55A59_10,M60A64_10,M65A69_10,M70A74_10,M75A79_10,M80A84_10,M85A89_10,M90A94_10,M95A99_10,M100YMS_10
CODMUN,,,,,,,,,,,,,,,,,,,,,
1051,137.0,138.0,100.0,95.0,124.0,179.0,235.0,205.0,200.0,195.0,...,126.0,104.0,80.0,76.0,82.0,78.0,48.0,22.0,5.0,1.0
1001,129.0,96.0,65.0,46.0,55.0,70.0,152.0,182.0,149.0,103.0,...,53.0,41.0,41.0,19.0,27.0,12.0,13.0,7.0,0.0,1.0
1002,195.0,193.0,195.0,200.0,289.0,344.0,368.0,371.0,381.0,426.0,...,357.0,290.0,211.0,215.0,221.0,178.0,108.0,36.0,8.0,0.0
1049,1.0,3.0,2.0,1.0,2.0,3.0,7.0,4.0,7.0,5.0,...,3.0,5.0,4.0,6.0,6.0,14.0,4.0,2.0,1.0,0.0
1003,37.0,41.0,32.0,26.0,36.0,37.0,53.0,46.0,51.0,74.0,...,39.0,42.0,31.0,27.0,29.0,24.0,12.0,9.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50282,0.0,2.0,1.0,0.0,5.0,4.0,3.0,0.0,2.0,2.0,...,3.0,7.0,3.0,3.0,6.0,10.0,1.0,0.0,0.0,0.0
50295,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,2.0,1.0,1.0,2.0,0.0,2.0,2.0,0.0,1.0,1.0
50296,6.0,10.0,16.0,10.0,11.0,16.0,17.0,15.0,15.0,18.0,...,19.0,14.0,8.0,10.0,16.0,16.0,14.0,2.0,2.0,0.0
50297,16339.0,15110.0,13882.0,14882.0,18463.0,22705.0,27770.0,27583.0,26669.0,25577.0,...,21302.0,20576.0,17046.0,14503.0,15818.0,12380.0,8242.0,3133.0,805.0,89.0
50298,201.0,193.0,156.0,173.0,232.0,293.0,337.0,285.0,273.0,272.0,...,165.0,174.0,138.0,128.0,163.0,118.0,76.0,22.0,8.0,3.0

In [23]:
col_new_f = []
for col in temp_f.columns:
  if "MS" in col:
    col_temp = col.split("_")[0]
    #print("Mujeres con mas de  " + str(col_temp[1:4]) + " : " + str(temp_f.loc[39085][col]))
    col_new_f.append(">" + str(col_temp[1:4]))
  else: 
    col_temp = col.split("_")[0].split("M")[1].split("A")
    age_init = col_temp[0]
    age_end  = col_temp[1]
    #print("Mujeres entre " + str(age_init) + " y " + str(age_end) +" : " + str(temp_f.loc[39085][col]))
    col_new_f.append(str(age_init)+"-"+str(age_end))

## PIRÁMIDE POBLACIONAL:

In [29]:
cols_m = temp.columns
temp = temp.rename(dict(zip(cols_m, col_new_m)), axis = 1)
pyramid_m = temp.reset_index().\
              melt(id_vars = ["CODMUN", "NOMBRE"],
              var_name = "Rango",
              value_vars = col_new_m,
              value_name = "Total_HOM")
#cols_new_m
#pyramid_m["Rango"] = col_new_m
#pyramid_m

       CODMUN               NOMBRE Rango  Total_HOM
0        1051  Agurain/Salvatierra   0-4      163.0
1        1001     Alegría-Dulantzi   0-4      118.0
2        1002              Amurrio   0-4      236.0
3        1049                Añana   0-4        3.0
4        1003              Aramaio   0-4       43.0
...       ...                  ...   ...        ...
80950   50282          Vilueña, La  >100        0.0
80951   50295           Vistabella  >100        0.0
80952   50296            Zaida, La  >100        0.0
80953   50297             Zaragoza  >100       19.0
80954   50298                Zuera  >100        0.0

[80955 rows x 4 columns]

In [32]:
cols_f = temp_f.columns
temp_f = temp_f.rename(columns = dict(zip(cols_f, col_new_f)))
pyramid_f = temp_f.reset_index().\
              melt(id_vars = "CODMUN",
              var_name = "Rango",
              value_vars = col_new_f,
              value_name = "Total_MUJ")
#cols_new_m
#pyramid_f["Rango"] = col_new_f
#pyramid_f

In [33]:
pyramid = reduce(lambda left,right: pd.merge(left,right,on=['CODMUN', "Rango"]), [pyramid_f, pyramid_m])
pyramid = pyramid[['CODMUN', "NOMBRE", "Rango", "Total_HOM", "Total_MUJ"]]
pyramid

       CODMUN               NOMBRE Rango  Total_HOM  Total_MUJ
0        1051  Agurain/Salvatierra   0-4      163.0      137.0
1        1001     Alegría-Dulantzi   0-4      118.0      129.0
2        1002              Amurrio   0-4      236.0      195.0
3        1049                Añana   0-4        3.0        1.0
4        1003              Aramaio   0-4       43.0       37.0
...       ...                  ...   ...        ...        ...
80950   50282          Vilueña, La  >100        0.0        0.0
80951   50295           Vistabella  >100        0.0        1.0
80952   50296            Zaida, La  >100        0.0        0.0
80953   50297             Zaragoza  >100       19.0       89.0
80954   50298                Zuera  >100        0.0        3.0

[80955 rows x 5 columns]

Please, enter a population code: 50297

In [176]:
my_code = int(input("Please, enter a population code: "))
y_age = pyramid[pyramid["CODMUN"] == my_code]["Rango"]
x_m = pyramid[pyramid["CODMUN"] == my_code]["Total_HOM"]
x_f = - pyramid[pyramid["CODMUN"] == my_code]["Total_MUJ"]
population_name = np.unique(pyramid[pyramid["CODMUN"] == my_code]["NOMBRE"])

In [178]:
# Creating instance of the figure
fig = go.Figure()
  
# Adding Male data to the figure
fig.add_trace(gp.Bar(y= y_age, x = x_m, 
                     name = 'Hombres', 
                     orientation = 'h'))
  
# Adding Female data to the figure
fig.add_trace(gp.Bar(y = y_age, x = x_f,
                     name = 'Mujeres', orientation = 'h'))
  
# Updating the layout for our graph
fig.update_layout(title = 'Pirámide poblacional de %s' % population_name[0],
                 title_font_size = 22, barmode = 'relative',
                 bargap = 0.0, bargroupgap = 0,
                 xaxis = dict(tickvals = [-200000, -100000, - 50000, -25000, -10000,
                                          -5000, - 2500, -1000, -500, -250, -100, 0 ,
                                          100, 250, 500, 1000, 2500, 5000, 10000, 25000, 50000, 100000, 200000],
                 ticktext = ['200k', '100k', '50k', '25k', '10k', '5k', '2.5k', '1k', '500', '250', '100', '0',
                             '100',  '250', '500', '1k', '2.5k', '5k', '10k', '25k', '50k', '100k', '200k'],               
                 title = 'Population',
                 title_font_size = 14)
                 )
  
fig.show()